.experience__company{
    font-style: italic;
}

.experience__position{
    font-weight: bold;
}

.skills__list {
    margin-left: 20px;
}

.skills__group span {
    text-transform: uppercase;
}





